body {
    color: whitesmoke;
    font-family: Book antiqua;
    font-size: 50px;
    background-color: aqua;
    padding: 100px;
    text-align: left

}

    h1{
        color: red;
        font-family: verdana, geneva, tahoma, sans-se;
        background-color: yellow;
    }




