
body
{overflow-x:hidden;
    padding: 100px;
    font-family:'Roboto Slab',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
    font-size: 1000;
}
p{
    line-height:1.75}a{color:#fed136}a:hover{color:#fec503}.text-primary
    {color:#fed136!important}
    h1,h2,h3,h4,h5,h6
    {font-weight:700;
      
        font-family:Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'}
        .page-section
        {padding:100px 0}
     
      
    